* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
 }

body {
  background: url('background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 1000px; */
}

.logo {

}

.header{
  border: 2px solid black;
  display: flex;
  /* justify-content: space-between; */
  /* align-items: baseline; */
}

.header-1 {
  flex-grow: 1;
  font-size: 25px;
}

.header-2 {
  margin-right: 50px;
  font-size: 25px;
}

.header-3 {
  margin-right: 50px;
  font-size: 25px;
}

.header-4 {
  margin-right: 50px;
  font-size: 25px;
}

